*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: 1.799rem auto;
}

.todolist-container{
   padding: 20px;
   border: 1px solid rgb(194, 194, 194);
   border-radius: 0.299em;

}

.list-item{
    padding: 5px;
}

/* Bottoni (Button) */

/* Button size  */
.button{
    width: 30px;
    height: 30px;
    border: none;
}

.button-success{
    background-color: lime;
    color: white;
}
.button-danger{
background-color: red;
color: white;
}

/* Linea di sbarramento */
.stroked{
    text-decoration: line-through;
    color: lime;
    text-shadow: 1.3px 1.5px 1px black;
    border: 1px solid rgb(194, 194, 194);
    background-color: rgb(246, 246, 246);
    border-radius: 0.299em;
    height: 32px;
    width: 16rem;
    align-items: center;
   /*text-align: center; */

}